﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    padding: 50px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    width: 800px;
    background: #fbfbfd;
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
}

.title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    display: block;
    margin: 32px auto;
}

.error {
    color: #E34140;
    font-size: 18px;
    margin-bottom: 8px;
}

.buttons {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 700px;
}

.submit, .cancel {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4682B4;
    color: #fff;
}

.cancel {
    background: #333;
}
.submit:hover, .cancel:hover {
    opacity: .7;
}

tbody, table, tr {
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    margin-bottom: 25px;
    margin-right: 50px;
}

.buttons-container {
    width: 100%;
}

.input {
    width: 500px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #000;
    outline-color: #4682B4;
}